{% extends "base.html" %}

{% block content %}

<a href="/blog">Main Blog Page</a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<a href="/newpost">Add a Blog entry</a>

<h1 align=center>Add a Blog Entry</h1>

<form action="/newpost" method="post">

    <label for="title">Title for new Blog</label></br>
    <input name="title" type="text" value="" />
    {% if titleerror %}
        <span class='error'>{{ titleerror }}</span>
    {% endif %} 
    </br>
    </br>
    </br>

    <label for="body">Your new Blog</label></br>
    <input name="body" type="text" value="" />
    {% if bodyerror %}
        <span class='error'>{{ bodyerror }}</span>
    {% endif %} 
    </br>
    </br>
    </br>
    <input type="submit" value="Add Entry" />
</form>
{% endblock %}